<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dang nhap mang xa hoi</title>
</head>
<body>
<p>Dang xu ly dang nhap, vui long cho...</p>
<script th:src="@{/js/site.js}"></script>
<script th:inline="javascript">
  (function () {
    const user = {
      userId: /*[[${userId}]]*/ "",
      displayName: /*[[${displayName}]]*/ "Nguoi choi",
      email: /*[[${email}]]*/ "",
      role: /*[[${role}]]*/ "User",
      avatarPath: /*[[${avatarPath}]]*/ "/uploads/avatars/default-avatar.jpg"
    };

    if (user.userId) {
      try {
        if (window.CaroUser && typeof window.CaroUser.set === "function") {
          window.CaroUser.set(user);
        }
        localStorage.setItem("caroGuestMigrationPending.v1", "1");
      } catch (_) {
      }
    }

    window.location.replace(/*[[@{/}]]*/ "/");
  })();
</script>
</body>
</html>
