<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: appHead('Notifications')}"></head>
<body>
<div th:replace="~{fragments :: appShell('friendship-notifications')}"></div>

<div class="container py-4 theme-text">
  <h1 class="h3 mb-3 theme-text">Notifications</h1>

  <div class="row g-3">
    <div class="col-lg-4">
      <div class="theme-box rounded p-3 h-100">
        <h2 class="h5 theme-text">Friend Requests</h2>
        <ul class="list-group">
          <li class="list-group-item" th:each="f : ${friendRequests}" th:text="${f.requesterId + ' -> ' + f.addresseeId}"></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="theme-box rounded p-3 h-100">
        <h2 class="h5 theme-text">Achievement</h2>
        <ul class="list-group">
          <li class="list-group-item" th:each="a : ${achievementNotifications}" th:text="${a.achievementName + ' - ' + a.createdAt}"></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="theme-box rounded p-3 h-100">
        <h2 class="h5 theme-text">System</h2>
        <ul class="list-group">
          <li class="list-group-item" th:each="s : ${systemNotifications}" th:text="${s.content + ' - ' + s.createdAt}"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <a class="btn theme-outline-btn" th:href="@{/friendship(currentUserId=${currentUserId})}">Back Friendship</a>
  </div>
</div>

<th:block th:replace="~{fragments :: appScripts('friendship-notifications')}"></th:block>
</body>
</html>
