@{
    ViewData["Title"] = "Multiplayer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h1 class="display-4 mb-4 theme-text neon-glow fw-bold"
        style="text-shadow: 2px 2px 0 #000, 4px 4px 0 #0ff;">
        CHẾ ĐỘ NHIỀU NGƯỜI CHƠI
    </h1>
    
    <p class="theme-text mb-3 fs-5">Chế độ chơi:</p>

    <div class="d-flex flex-column align-items-center gap-3">
        <a href="/Lobby" class="btn theme-outline-btn btn-lg w-50">📡Online</a>
        <a href="/Game/Offline" class="btn theme-outline-btn btn-lg w-50"> 🤜🤛Offline</a>
    </div>
</div>
